*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Utilitys */
.p-20{
    padding: 20px;
}

.c-primary{
    color: #33272a;
}


.all-content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.tittle h1{
    font-family: 'Original Surfer', cursive;
}

.tittle span{
    font-family: 'Original Surfer', cursive;
    color:#ff8ba7 ;
}

.tittle{
    text-align: center;
    background-color: #faeee7;
}

.main-top{
    display: flex;
    justify-content: center;
    background-color: #c3f0ca;
}

form {
    position: relative;
}

.main-top #icon{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 30px;
    text-transform: capitalize;
    color: #33272a;
    outline: none;
    cursor: pointer;
}

.main-center{
    flex-grow: 1;
    background-color: #ffc6c7;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.main-center .card{
    flex-basis: calc(100% / 6 - 20px);
    background-color:#faeee7 ;
    text-align: center;
    border-radius: 10px;
    margin: 20px 10px;
}

.main-center .card i{
    font-size: 40px;
}

.main-center .card .tittle-icon{
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.card{
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 13px -4px rgba(0,0,0,0.82);
}



